:root {
  --primary-color: #8619FF !important;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  height: 100vh;
}

.App {
  height: 100%;
}

.channel-preview_container {
  height: 37px;
  display: flex;
  align-items: center;
}

.channel-preview_container_selected {
  height: auto;
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.2);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  font-weight: bold;
  margin-right: 16px;
  cursor: pointer;
  z-index: 2;
}

.channel-preview_container:hover {
  background: rgba(0, 0, 0, 0.2);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  font-weight: bold;
  margin-right: 16px;
  cursor: pointer;
}

.str-chat-channel.messaging .str-chat__main-panel {
  padding: 0;
}

.str-chat.messaging,
.str-chat.commerce {
  background-color: transparent !important;
}

.str-chat-channel.messaging .str-chat__main-panel {
  padding: 0 !important;
}

.str-chat__send-button svg path {
  fill: var(--primary-color) !important;
}

@media screen and (max-width: 960px) {

  .str-chat-channel-list.messaging,
  .str-chat-channel-list.team,
  .str-chat-channel-list.commerce {
    position: relative !important;
    left: 0 !important;
    min-height: fit-content !important;
  }
}